<h1>Contact the Chaospatinnen</h1>
<p>If you have any further questions, please contact us:</p>

<ul>
  <li>via e-mail: chaosmentors [at] lists [dot] ccc [dot] de</li>
  <li>via Twitter <a href="https://twitter.com/chaospatinnen" title="Chaospatinnen (@chaospatinnen) | Twitter">@chaospatinnen</a></li>
  <li>via Mastodon: <a href="https://chaos.social/@chaospatinnen" title="Chaospatinnen (@chaospatinnen@chaos.social) - chaos.social">@chaospatinnen@chaos.social</a></li>
</ul>
