<h1>Welcome</h1>

<div class="form-row">
  <div class="form-group col-md-6">
    <a href="/people/new" role="button" class="btn btn-primary btn-lg btn-block active">Register as mentee</a>
  </div>
  <div class="form-group col-md-6">
    <a href="/people/new" role="button" class="btn btn-secondary btn-lg btn-block active">Register as mentor</a>
  </div>
</div>
