<h1>Privacy statement</h1>

<p>Out of a long tradition and deep love for data protection, we inform
you in our privacy statement that we do not track you when you simply
browse our website. This includes that we don't want to know how long
you stay here, what you look at or even which website you visit before
and after us.</p>

<p>On this website we would like to bring together experienced congress
visitors (mentors) with new congress visitors (mentees). This gives
mentees the opportunity to have someone at their side before and
during the congress to answer all their questions and provide advice.
We try to bring together mentees and mentors with similar interests
(matching).</p>

<p>When you register as a mentee or mentor, we kindly ask for a name, an
e-mail address, a short profile and a list of freely selectable
interests (tags) for the matching process. All this data is sent to
the core team of the Chaospatinnen by e-mail on our closed mailing
list and is stored in our database. It's okay if you use a pseudonym
here, or a disposable email address if you prefer to remain anonymous.
We also do not store any other data about you or maintain any log
files on our server.</p>

<p>The matching process of mentor and mentee is done manually by the
Chaospatinnen team. No profiling algorithms are used. As soon as a
match has taken place, we send the data of the mentee to the mentor by
e-mail, so that he can contact his mentee for further coordination.</p>

<p>We will not share your data with enyone other than the mentioned above.</p>

<p>At the end of the congress the database with all data in it and all
backups will be deleted.</p>

<p>If you have any questions or concerns about this process, we will be
happy to receive your feedback directly: chaosmentors [at] lists [dot] ccc [dot] de</p>
